.ListUser {
    width: 100%;
    list-style-type: none;
    display: flex;
    margin: auto;
    border: 1px solid gray;
    border-bottom: 0px;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.ListUser--female {
    background-color: #ffebee;
}

.ListUser:last-child {
    border-bottom: 1px solid gray;
}

.ListUser__Thumbnail {
    display: inline-block;
    height: 48px;
    border-radius: 25px;
    margin: 8px;
}

.ListUser__Data {
    display: block;
    text-align: left;
}

.ListUser__Email {
    display: flex;
    align-items: center;
}

.ListUser__Birthday {
    display: flex;
    align-items: center;
}